.hashtagWindow {
    background-color: white;
    position: absolute;
    z-index: 10;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--box-shadow2);
    border-radius: 30px;
    padding: 15px;
    gap: 15px;
    left: 15px;

    .topPart {
        display: flex;
        flex-direction: column;
        width: 100%;

        form {
            display: flex;
            align-items: center;
            width: 100%;

            input {
                height: 39px;
                padding: 5px;
            }

            button {
                height: 39px;
                width: 50px !important;
                border: 1px gray solid;
                border-radius: 0px;
            }
        }

        .hashtags {

            .nohashtags {
                width: 100%;
                height: 100px !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .allhashtags {
                min-height: 100px;
                max-height: 150px;
                overflow-y: scroll;
                overflow-x: hidden;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .single {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 5px 8px;
                    background-color: rgb(215, 215, 215);
                    width: fit-content;
                    border-radius: 100px;

                    svg {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .button {
        width: 100% !important;
    }
}