.hashtagWindow {
    background-color: white;
    position: absolute;
    z-index: 10;
    bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .topPart {
        display: flex;
        flex-direction: column;
        width: 100%;

        form {
            display: flex;
            align-items: center;
            width: 100%;

            input {
                height: 39px;
                padding: 5px;
            }

            button {
                height: 40px;
                width: 50px;
                background-color: transparent;
                border: 2px var(--oxford-blue) solid;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    background-color: var(--oxford-blue);
                    color: white;
                }
            }
        }

        .hashtags {

            .nohashtags {
                width: 100%;
                height: 100px !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .allhashtags {
                min-height: 100px;
                max-height: 150px;
                overflow-y: scroll;
                overflow-x: hidden;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .single {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 5px 8px;
                    background-color: rgb(215, 215, 215);
                    width: fit-content;
                    border-radius: 100px;

                    svg {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .submit {
        width: 100%;
        height: 40px;
        position: relative;
        border: 2px var(--oxford-blue) solid;
        border-radius: 5px;
        background-color: transparent;
        color: var(--oxford-blue);
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            background-color: var(--oxford-blue);
            color: white;
        }
    }
}
