.RightPart {
    position: fixed;
    width: 35%;
    padding: 30px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    right: 0;

    .addNew {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(45deg, var(--periwinkle), var(--melon), var(--sunset));
        cursor: pointer;

        p {
            font-size: 28px;
            color: var(--white);
            font-weight: 800;
            letter-spacing: 4px;
        }

        &:active{
            transform: scale(0.97);
        }
    }
}