.SingleTask {
    width: 100%;
    min-height: 120px;
    border-radius: 30px;
    box-shadow: var(--box-shadow2);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    cursor: pointer;

    .left {
        display: flex;
        flex-direction: column;
        gap: 7px;
        max-width: 90%;

        p {
            word-break: break-all;
        }

        p:nth-child(1) {
            max-width: 100%;
            font-size: 18px;
            font-weight: 600;
        }

        p:nth-child(2) {
            font-size: 14px;
        }
    }

    button {
        width: 25px !important;
        height: 25px !important;
        border-radius: 25px;
        background-color: white;
        outline: 0;
        border: 0;
        border: 1px var(--oxford-blue) solid;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:active {
        transform: scale(0.97);
    }
}